@font-face{
    font-family: mregular;
    src: url(Myriad/Myriad\ Pro\ Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: black;
    background-image: url(Imagenes/pexels-pixabay-159400@2x.png);
    width: 100vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.contenedor{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 27vw;
}
#cuadro{
    width: 80vw;
    height: 39vw;
    background-color: #ffffff;
    margin-top: -21vw;
    position: absolute;
    border-radius: 3vw;
}
#imagen1{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: -5vw;
    z-index: 2;
    position: absolute;
    margin-top: -19vw;
}
#imagen2{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: -72vw;
    z-index: 2;
    position: absolute;
    margin-top: -19vw;
}
#añadir{
    width: 50vw;
    font-size: 1.3vw;
    font-family: mregular;
    margin-left: -19vw;
    margin-top: -19vw;
    position: absolute;
    z-index: 2;
    text-decoration: none;
    color: black;
}
#imagen3{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: -44vw;
    z-index: 2;
    position: absolute;
    margin-top: -18vw;
}
#imagen{
    width: 1.5;
    height: 1.5;
    margin-left: 35vw;
    margin-top: -0.8vw;

}
#refrescar{
    width: 50vw;
    font-size: 1.3vw;
    font-family: mregular;
    margin-left: 2vw;
    margin-top: -18.8vw;
    position: absolute;
    z-index: 2;
    text-decoration: none;
    color: black;
}
#imagen4{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: -27vw;
    z-index: 2;
    position: absolute;
    margin-top: -19vw;
}
#eliminar{
    width: 50vw;
    font-size: 1.3vw;
    font-family: mregular;
    margin-left: 26vw;
    margin-top: -19vw;
    position: absolute;
    z-index: 2;
    text-decoration: none;
    color: black;
}
#imagen5{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 8vw;
    z-index: 2;
    position: absolute;
    margin-top: -19vw;
}
#reportar{
    width: 50vw;
    font-size: 1.3vw;
    font-family: mregular;
    margin-left: 61vw;
    margin-top: -19vw;
    position: absolute;
    z-index: 2;
    text-decoration: none;
    color: black;
}
#imagen6{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 30vw;
    z-index: 2;
    position: absolute;
    margin-top: -19vw;
}
#ayuda{
    width: 50vw;
    font-size: 1.3vw;
    font-family: mregular;
    margin-left: 83vw;
    margin-top: -19vw;
    position: absolute;
    z-index: 2;
    text-decoration: none;
    color: black;
}
#imagen7{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 55vw;
    z-index: 2;
    position: absolute;
    margin-top: -19vw;
}
#imagen8{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 62vw;
    z-index: 2;
    position: absolute;
    margin-top: -19vw;
}
#imagen9{
    width: 4vw;
    height: 4vw;
    margin-left: 70vw;
    z-index: 2;
    position: absolute;
    margin-top: -20.5vw;
}
#si{
    width: 80vw;
    font-family: mregular;
    font-size: 1.5vw;
    margin-top: -12vw;
    margin-left: 25vw;
    position: absolute;
}
#cuadro1{
    width: 20vw;
    height: 3vw;
    background-color: #eeeeef;
    margin-top:10vw;
    position: absolute;
    border-radius: 3vw;
    margin-left: -45vw;
}
#indicadores{
    display: flex;
    justify-content:left;
    align-items: center;
    font-size: 1.5vw;
    font-family: mregular;
    width: 20vw;
    position: absolute;
    margin-top: 10.5vw;
    margin-left: -43vw;
}
#imagen10{
    width: 2.5vw;
    height: 2.5vw;
    position: absolute;
    margin-top: 10.4vw;
    margin-left: -29vw;
}
#imagen11{
    width: 2.5vw;
    height: 2.5vw;
    position: absolute;
    margin-top: 10.3vw;
    margin-left: 33vw;
    z-index: 2;
}
#añadir1{
    display: flex;
    justify-content:left;
    align-items: center;
    font-size: 1.5vw;
    font-family: mregular;
    width: 20vw;
    position: absolute;
    margin-top: 10.5vw;
    margin-left: 57vw;
    z-index: 2;
}
#cuadro2{
    width: 11vw;
    height: 3vw;
    background-color: #eeeeef;
    margin-top:10vw;
    position: absolute;
    border-radius: 3vw;
    margin-left: 40vw;
}
#cuadro3{
    width: 11vw;
    height: 3vw;
    background-color: #ff721b;
    margin-top:10vw;
    position: absolute;
    border-radius: 3vw;
    margin-left: -3vw;
    font-family: mregular;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#imagen12{
    width: 1.3vw;
    height: 1.3vw;
    position: absolute;
    margin-top: 0.4vw;
    margin-left: -2vw;
    z-index: 2;
}
#cuadro4{
    width: 10vw;
    height: 2vw;
    position: absolute;
    margin-top: 14vw;
    margin-left: 75vw;
    background: #eeeeef;
    font-family: mregular;
    font-size: 1.5vw;
    color: black;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    border-radius: 1vw;
    border: 1px solid #ff721b;
}