@font-face {
    font-family: mlight;
    src: url(Myriad/Myriad\ Pro\ Light.otf);
    font-family: mregular;
    src: url(Myriad/Myriad\ Pro\ Regular.ttf);
}
body{
    background-color: black;
    background-image: url(Imagenes/pexels-pixabay-159400@2x.png);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100vw;
}
.contenedor{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 27vw;
}
#cuadro{
    width: 70vw;
    height: 35vw;
    background-color: #ffffff;
    margin-top: -21vw;
    position: absolute;
    border-radius: 3vw;
}
#imagen1{
    width: 1.3vw;
    height: 1.3vw;
    margin-left: 1vw;
    z-index: 2;
    position: absolute;
    margin-top: -18vw;
}
#imagen2{
    width: 1.3vw;
    height: 1.3vw;
    margin-left: -61vw;
    z-index: 2;
    position: absolute;
    margin-top: -18vw;
}
#añadir{
    width: 50vw;
    font-size: 1.3vw;
    font-family: mregular;
    margin-left: -10vw;
    margin-top: -19vw;
    position: absolute;
    z-index: 2;
}
#imagen3{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: -44vw;
    z-index: 2;
    position: absolute;
    margin-top: -18vw;
}
#imagen{
    width: 1.5;
    height: 1.5;
    margin-left: 42vw;

}
#refrescar{
    width: 50vw;
    font-size: 1.3vw;
    font-family: mregular;
    margin-left: 9vw;
    margin-top: -18vw;
    position: absolute;
    z-index: 2;
    text-decoration: none;
    color: black;
}
#imagen4{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: -21vw;
    z-index: 2;
    position: absolute;
    margin-top: -18vw;
}
#eliminar{
    width: 50vw;
    font-size: 1.3vw;
    font-family: mregular;
    margin-left: 30vw;
    margin-top: -19vw;
    position: absolute;
    z-index: 2;
}
#imagen5{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 14vw;
    z-index: 2;
    position: absolute;
    margin-top: -18vw;
}
#reportar{
    width: 50vw;
    font-size: 1.3vw;
    font-family: mregular;
    margin-left: 65vw;
    margin-top: -19vw;
    position: absolute;
    z-index: 2;
}
#imagen6{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 34vw;
    z-index: 2;
    position: absolute;
    margin-top: -18vw;
}
#ayuda{
    width: 50vw;
    font-size: 1.3vw;
    font-family: mregular;
    margin-left: 85vw;
    margin-top: -19vw;
    position: absolute;
    z-index: 2;
}
#imagen7{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 52vw;
    z-index: 2;
    position: absolute;
    margin-top: -18vw;
}
#imagen8{
    width: 1.5vw;
    height: 1.5vw;
    margin-left: 58vw;
    z-index: 2;
    position: absolute;
    margin-top: -18vw;
}
#imagen9{
    width: 3vw;
    height: 3vw;
    margin-left: 64vw;
    z-index: 2;
    position: absolute;
    margin-top: -19vw;
}
#flor{
    width: 10vw;
    height: 10vw;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 30vw;
    padding: 2vw;
    height: 15vw;
    margin-top: -9vw;
    margin-left: 35vw;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 2vw;
    position: absolute;
    font-family: mregular;
    font-size: 1.5vw;
}
summary{
    background-color: #eeeeef;
    border-radius: 2vw;
    padding: 0.5vw;
    list-style: none;
    cursor: pointer;
    border: 1px solid #ff6f2c;
}
p{
    padding: 1vw;
}

@media (max-width:1200px){
    #cuadro{
        width: 80vw;
        height: 40vw;
    }
    section{
        width: 35vw;
        height: 18vw;
        margin-left: 32.5vw;
        font-size: 1.2vw;
    }
}
@media (max-width:992px){
    #cuadro{
        width: 90vw;
        height: 45vw;
    }
    section{
        width: 40vw;
        height: 20vw;
        margin-left: 30vw;
        font-size: 1vw;
    }
    #imagen1, #imagen2, #imagen3, #imagen4, #imagen5, #imagen6, #imagen7, #imagen8, #imagen9{
        width: -5vw;
        height: -5vw;
    }
}
