*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: mlight;
    src: url(Myriad/Myriad\ Pro\ Light.otf);
}

@font-face {
    font-family: mregular;
    src: url(Myriad/Myriad\ Pro\ Regular.ttf);
}

body{
    background-color: black;
    background-image: url(Imagenes/pexels-pixabay-159400@2x.png);
    width: 100vw;
    height: auto;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.reportar{
    width: 70vw;
    height: 29vw;
    background-color: white;
    margin: 0 auto;
    margin-top: 10vw;
    border-radius: 4vw;
}

.caja{
    display: flex;
    justify-content: space-evenly;
}
.caja img{
    width: 1.5vw;
    height: 1.5vw;
    margin-top: 1.5vw;
}

.caja p{
    font-family: mregular;
    font-size: 1.2vw;
    margin-top: 1.8vw;
    margin-left: -3vw;
}

.cajita{
    display: flex;
}
.cajita img{
    width: 1.5vw;
    height: 1.3vw;
    margin: 0 auto;
    margin-left: 1vw;
    margin-top: 1.7vw;
}
#pedro{
    width: 2.5vw;
    height: 2.5vw;
    margin-top: 1vw;
}

.frec{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vw;
    align-items: center;
}
.frec label{
    font-family: mregular;
    font-size: 2.3vw;
}
.frec select{
    width: 25vw;
    height: 2.5vw;
    margin-left: 5vw;
    font-size: 1.5vw;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.frec select{
    display: inline-block;
    cursor: pointer;
    outline: 0;
    border: 0;
    background: #aaa8a8;
    color: black;
    font-size: 1.7vw;
    font-family: mlight;
    border: 1px solid  black;
    border-radius: 0.7vw;
    transition: all 0.25s  ease;
    padding-left: 1vw;
}
.frec  select:hover{
    background: white;
}

.cump{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5vw;
    align-items: center;
}
.cump label{
    font-family: mregular;
    font-size: 2.3vw;
}
.cump select{
    width: 25vw;
    height: 2.5vw;
    margin-left: 2vw;
    font-size: 1.5vw;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.cump select{
    display: inline-block;
    cursor: pointer;
    outline: 0;
    border: 0;
    background: #aaa8a8;
    color: black;
    font-size: 1.7vw;
    font-family: mlight;
    border: 1px solid  black;
    border-radius: 0.7vw;
    transition: all 0.25s  ease;
    padding-left: 1vw;
}
.cump select:hover{
    background: white;
}
.reportar i{
    width: 1vw;
    height: 1vw;
    margin-left: 59vw;
    margin-top: -2.4vw;
    display: block;
    border-left:2px solid #000000;
    border-bottom:2px solid #ffffff;
    transform: rotate(-45deg);
    transition: all 0.25s ease;
}

.boton{
    width: 18vw;
    height: 4vw;
    background-color: #ff6f2c;
    color: #ffffff;
    display: flex;
    justify-content: center;
    margin-left: 28vw;
    margin-top: 5.7vw;
    border-radius: 5vw;
}
.boton p{
    font-size: 2vw;
    font-family: mregular;    
    margin-top: 0.7vw;
}