*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    background-image: url(Imagenes/pexels-pixabay-159400@2x.png);
    width: 100vw;
    height: 10vw;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.contenedor{
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 20vw;
}
.contenedor img{
    width: 20vw;
    height: 20vw;
    position: absolute;
    margin-top: -10vw;
}
@media (max-width: 1024px) {
    body {height: 20vw;}
    .contenedor {margin-top: 30vw;}
    .contenedor img {width: 30vw;}
}
@media (max-width: 768px) {
    body {height: 30vw;}
    .contenedor {margin-top: 40vw;}
    .contenedor img {width: 40vw;}
}
@media (max-width: 480px) {
    body {height: 40vw;}
    .contenedor {margin-top: 50vw;}
    .contenedor img {width: 50vw;}
}